// @import "../abstracts/mixins";
.load {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: $color-offset--white;
    @include element('logo') {
        // opacity: 0;
        width: 40%;

        @include for-tablet-portrait-up {
            width: 50%;
        }
        #svg-logo {
            width: 100%;
            // .symbol,
            // .letters-top,
            // .letters-bottom {
            //     fill: none;
            //     opacity: 0;
            // }
            .symbol {
                fill: #94C13D;
            }
            .letters-top {
                // stroke: #585757;
                fill: #585757;
            }
            .letters-bottom {
                fill: #9C9C9B;
                // stroke: #9C9C9B;
                // stroke-width: 0.5;
            }
        }
    }
}