@import 'mixins';

/* GRID */
$grid-width: 114rem;

/* COLORS */
$color-offset--black-1: #000;
$color-offset--black-2: #333;
$color-offset--black-3: #2D2D2D;

$color-offset--white: #fff;

$color-offset--light-grey: #CCCCCC;
$color-offset--dark-grey: #868991;
$color-offset--bg: #faf7f7;

// $color-offset--green: #86C232;
$color-offset--green: #94C11F;








