@import '../abstracts/variables';
@import '../base/typography';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: $font-family--poppins;
  color: $color-offset--white;
  line-height: 1.5;
  position: relative;
  text-rendering: optimizelegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  background: $color-offset--black-1;
}

// p{
//   font-size: 1.25rem;

//   @media screen and (min-width: 700px){
//     font-size: 1.125rem;
//   }
// }

ul{
  text-decoration: none;
  li{
    list-style-type: none;
  }
}

a{
  text-decoration: none;
}

//::selection {
//  background-color: $color-primary;
//  color: $color-white;
//}