
//

.st0{
  fill:none;stroke:#FFF;stroke-miterlimit:10;
}

.st1{
  fill:#FFF;stroke-width:1px;stroke-miterlimit:10;
}

.st2{
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
  stroke-miterlimit: 10;
  stroke-dasharray: 177;
  stroke-dashoffset: 177;
  opacity: 0;
  transition: all .65s ease-in-out;
}